body{
    margin: 0;
    padding: 0;
    background: url(pexels-pixabay-235986.jpg);
    background-size: cover;
    font-family: 'Playfair Display', serif;
    
}
.box{
    width: 500px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(207, 181, 133);
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
}
.box h1{
    color: black;
    font-weight: 700;
}
.box input[type="text"], .box input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid red;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:hover, .box input[type="password"]:hover{
    width: 270px;
    border-color: blue;

}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid red;
    padding: 14px 35px;
    outline: none;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}

.box input[type="submit"]:hover{
    background: yellowgreen;
}

